<launch>
	<!-- global rosparam -->
	<param name="use_sim_time" value="true"/>

	<!-- sensor driver -->
	<include file="$(find velodyne_pointcloud)/launch/32e_points.launch"/>
	<!-- <node pkg="pose_estimation_walls" name="odom_republish_infant" type="odom_republish_infant"/> -->

	<!-- proposed method -->
	<node pkg="planar_landmark_ekf_slam" name="planar_normal_estimation" type="planar_normal_estimation">
		<param name="skip" type="int" value="3"/>
		<param name="search_radius_ratio" type="double" value="0.09"/>
		<param name="min_serach_radius" type="double" value="0.1"/>
		<!-- <param name="mode_remove_ground" type="bool" value="true"/> -->
		<!-- <param name="mode_open_viewer" type="bool" value="false"/> -->
		<!-- <param name="mode_selection" type="bool" value="false"/> -->
	</node>
	<node pkg="pc_store" name="downsampled_nc_srore_with_odometry" type="downsampled_nc_srore_with_odometry" output="screen">
		<remap from="/odom" to="/ekf/odom"/>
		<remap from="/normals" to="/normals/selected"/>
		<remap from="/normals/stored" to="/normals/selected/stored"/>
		<param name="pc_range" type="double" value="10.0"/>
		<param name="leaf_size" type="double" value="0.4"/>
	</node>
	<node pkg="planar_landmark_ekf_slam" name="planar_feature_extraction_flexible_tolerance" type="planar_feature_extraction_flexible_tolerance" output="screen">
		<!-- <remap from="/normals" to="/normals/selected"/> -->
		<remap from="/normals" to="/normals/selected/stored"/>
		<param name="ratio_depth_tolerance" type="double" value="0.05"/>
		<param name="min_tolerance" type="double" value="0.5"/>
		<param name="max_tolerance" type="double" value="0.5"/>
		<param name="min_cluster_size" type="int" value="300"/>
		<param name="threshold_angle" type="double" value="1.0"/>
	</node>

	<!-- comparisons -->
	<include file="$(find loam_velodyne)/launch/hector_loam_velodyne.launch"/>
	<node pkg="msg_conversion" type="odometry_zxy_to_xyz" name="odometry_zxy_to_xyz">
		<remap from="/odom" to="/integrated_to_init"/>
		<remap from="/odom/change_axis" to="/loam/odom"/>
	</node>
</launch>
